---
layout: page
permalink: /categories/
title: Catégories
body_class: "archives-page"
exclude: true
redirect_to: /blog/
---
{% for category in site.categories %}
{% capture category_name %}{{ category | first }}{% endcapture %}
<div data-animate="slideup" class="category-group">
  <h3 class="page-title" id="{{ category_name | slugify }}">{{ category_name }}</h3>
  <ul class="posts-list">
    {% for post in site.categories[category_name] %}
    {% assign m = post.date | date: "%-m" %}
    <li
      class="post-summary {% if post.format and post.format == "link" and post.link != "" %}post-format--link{% endif %}">
      {% if post.format and post.format == "link" and post.link != "" %}
      <a href="{{ post.url | absolute_url }}" class="post-link--permalink">{{ post.url | absolute_url }}</a>
      {% endif %}
      <a href="{% if post.format and post.format == "link" and post.link != "" %}{{ post.link }}{% else %}{{ post.url | relative_url }}{% endif %}"
        {% if post.format and post.format == "link" and post.link != "" %}target="_blank" {% endif %}>
        <span class="post-title">{{ post.title }}</span> <time class="post-date"
          datetime="{{ post.date | date_to_rfc822 }}">{{ post.date | date: "%d" }} {% case m %}
          {% when '1' %}janvier
          {% when '2' %}février
          {% when '3' %}mars
          {% when '4' %}avril
          {% when '5' %}mai
          {% when '6' %}juin
          {% when '7' %}juillet
          {% when '8' %}août
          {% when '9' %}septembre
          {% when '10' %}octobre
          {% when '11' %}novembre
          {% when '12' %}décembre
          {% endcase %} {{ post.date | date: "%Y" }}</time>

        <span class="post-category">{{ category_name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}