// Functions
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin mask($url, $size_type, $top, $left) {
  mask: url($url) no-repeat $top $left;
  -webkit-mask: url($url) no-repeat $top $left;
  mask-size: $size_type;
  -webkit-mask-size: $size_type;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}


// Color palette
$blue: #3CB9FC;
$purple: #B537F2;
$darkpurple: #8A2BE2;
$darkblue: #120052;


// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// Social Networks
$facebook: #3b5998;
$twitter: #1da1f2;

// rss
$rssfeed: #ffa500;


$base-font-face: 'Nunito', sans-serif;
$heading-font-face: 'Nunito', sans-serif;
$code-font-face: 'Fira Mono', monospace;
$base-font-size: 18px;
$base-line-height: 1.6;
$font-color: $black;
$light-background: $silver;
$base-radius: 3px;

$link-color: $purple;
$link-hover-color: $darkpurple;

$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

$h1-font-size:                $base-font-size * 2 !default;
$h2-font-size:                $base-font-size * 1.6818 !default;
$h3-font-size:                $base-font-size * 1.4142 !default;
$h4-font-size:                $base-font-size * 1.1892 !default;
$h5-font-size:                $base-font-size * 1 !default;
$h6-font-size:                $base-font-size * .8409 !default;


%round-icon {
	background-color: tint($light-background, 15%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	text-indent: -999em;
	width: 48px;
	height: 48px;
	transition: all 200ms ease-in-out;
	//@include single-transition(all, 200ms, ease-in-out);
}
