// Functions
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function getColor($color, $theme: 'light') {
	@return map-get(map-get($themes, $theme), $color);
}

@mixin mask($url, $size_type, $top, $left) {
  mask: url($url) no-repeat $top $left;
  -webkit-mask: url($url) no-repeat $top $left;
  mask-size: $size_type;
  -webkit-mask-size: $size_type;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin single-transition($transition, $duration, $effect) {
	-moz-transition: $transition $duration $effect;
	-o-transition: $transition $duration $effect;
	-webkit-transition: $transition $duration $effect;
	transition: $transition $duration $effect;
}

@mixin btn($bg: $link-hover-color, $bg-hover: $link-color, $color: $white) {
	background-color: $bg;
	border: none;
	@include border-radius($base-radius);
	color: $color;
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
	transition: all 200ms ease-in-out;

	&:focus, &:hover {
		color: $color;
		background-color: $bg-hover;
	}
}

// Color palette
$blue: #0000b5;
$red: #b50055;
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #222;
$dark-purple: rgb(19, 0, 32);
$darker-purple: #10001c;

$themes: (
	'light': (
		'link': $blue,
		'link-hover': $red,
		'background': $white,
		'ligth-background': $silver,
		'text': $black,
		'pre': $black

	),
	'dark': (
		'link': $red,
		'link-hover': shade($red, 20%),
		'background': $dark-purple,
		'light-background': tint($dark-purple, 20%),
		'text': $white,
		'pre': $darker-purple
	)
);

// Social Networks
$facebook: #3b5998;
$twitter: #1da1f2;

// rss
$rssfeed: #ffa500;


$base-font-face: 'Nunito', sans-serif;
$heading-font-face: 'Nunito', sans-serif;
$code-font-face: 'Fira Mono', monospace;
$base-font-size: 16px;
$base-line-height: 1.6;
$font-color: $black;
$light-background: $silver;
$base-radius: 3px;

$link-color: $blue;
$link-hover-color: $red;

$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

$h1-font-size:                $base-font-size * 2 !default;
$h2-font-size:                $base-font-size * 1.6818 !default;
$h3-font-size:                $base-font-size * 1.4142 !default;
$h4-font-size:                $base-font-size * 1.1892 !default;
$h5-font-size:                $base-font-size * 1 !default;
$h6-font-size:                $base-font-size * .8409 !default;


%round-icon {
	background-color: tint($light-background, 15%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	text-indent: -999em;
	width: 48px;
	height: 48px;
	transition: all 200ms ease-in-out;
	//@include single-transition(all, 200ms, ease-in-out);
}
