// Functions
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin mask($url, $size_type, $top, $left) {
  mask: url($url) no-repeat $top $left;
  -webkit-mask: url($url) no-repeat $top $left;
  mask-size: $size_type;
  -webkit-mask-size: $size_type;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}


// Some Useful colors
$teal:  #39CCCC;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// Social Networks
$facebook: #3b5998;
$twitter: #1da1f2;

// rss
$rssfeed: #ffa500;


$base-font-face: 'Nunito', sans-serif;
$heading-font-face: 'Nunito', sans-serif;
$code-font-face: 'Fira Mono', monospace;
$base-font-size: 18px;
$base-line-height: 1.6;
$font-color: $black;
$light-background: $silver;
$accent-color: shade($teal, 15%);
$base-radius: 3px;

$medium-breakpoint: 768px;
$large-breakpoint: 1024px;


%round-icon {
	background-color: tint($light-background, 15%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	text-indent: -999em;
	width: 48px;
	height: 48px;
	transition: all 200ms ease-in-out;
	//@include single-transition(all, 200ms, ease-in-out);
}
