<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% if page.title %}{{ page.title | normalize_whitespace | truncate: 160 | escape }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.tagline }}{% endif %}</title>
    <meta name="referrer" content="origin">
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | normalize_whitespace | truncate: 160 | escape }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.tagline }}{% endif %}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="canonical" content="{{ site.url }}{{ page.url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/reset.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nunito:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="{{ "assets/css/main.css?v=1.2.2" | relative_url }}">
    <link rel="me" href="https://twitter.com/{{ site.twitter_username }}">
    <script src="https://kit.fontawesome.com/a68c04c727.js" crossorigin="anonymous"></script>
    <script src="{{ "assets/js/vendor/modernizr-2.8.3.min.js" | relative_url }}"></script>
    <script src="{{ "assets/js/vendor/in-view.min.js" | relative_url }}"></script>
</head>
