<header class="site-header">
    <a data-animate="slidedown" href="{{ "/" | relative_url}}" class="logo">
        {% if layout.body_class == "home-page" %}
            <h1 class="site-title">{{ site.title }}</h1>
        {% else %}
            <p class="site-title">{{ site.title }}</p>
        {% endif %}
        <span class="site-tagline">{{ site.tagline }}</span>
    </a>
    <ul class="site-nav">
        <li data-animate="slidedown" class="nav-item"><a href="{{ "/blog/" | relative_url}}">blog</a></li>
        {% for nav  in site.pages %}
          {% unless nav.exclude %}
              {% if nav.title && nav.url %}
              <li data-animate="slidedown" class="nav-item"><a href="{{ nav.url }}">{{ nav.title | downcase | escape }}</a></li>
              {% endif %}
          {% endunless %}
        {% endfor %}
    </ul>
</header>
