<header class="site-header">
    <a data-animate="slidedown" href="{{ "/" | relative_url }}" class="site-avatar inview">
        <img src="https://avatars1.githubusercontent.com/u/2862432" alt="{{ site.title }}">
    </a>

    <a href="{{ "/" | relative_url}}" class="logo">
        {% if layout.body_class == "home-page" %}
            <h1 data-animate="slidedown"  class="site-title">{{ site.title }}</h1>
        {% else %}
            <p data-animate="slidedown"  class="site-title">{{ site.title }}</p>
        {% endif %}
        <span data-animate="slidedown"  class="site-tagline">{{ site.tagline }}</span>
    </a>
    <div class="site-nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="site-theme-switcher"  data-switch-theme="dark">
        <i class="far fa-lightbulb"></i>
    </div>

    <ul class="site-nav">
        <li data-animate="slidedown" class="nav-item"><a href="{{ "/blog/" | relative_url}}">blog</a></li>
        {% for nav  in site.pages %}
          {% unless nav.exclude %}
              {% if nav.title and nav.url %}
              <li data-animate="slidedown" class="nav-item"><a href="{{ nav.url }}">{{ nav.title | downcase | escape }}</a></li>
              {% endif %}
          {% endunless %}
        {% endfor %}
    </ul>
</header>
