{% assign m = include.object.date | date: "%-m" %}
<div class="post-metadata">
    <time class="post-date dt-published" datetime="{{ include.object.date | date_to_rfc822 }}">Publié le <a class="u-url" href="{{ page.url | absolute_url }}">{{ include.object.date | date: "%d" }}
    {% case m %}
    {% when '1' %}janvier
    {% when '2' %}février
    {% when '3' %}mars
    {% when '4' %}avril
    {% when '5' %}mai
    {% when '6' %}juin
    {% when '7' %}juillet
    {% when '8' %}août
    {% when '9' %}septembre
    {% when '10' %}octobre
    {% when '11' %}novembre
    {% when '12' %}décembre
    {% endcase %} 
    {{ include.object.date | date: "%Y @ %H:%M" }}</a></time>

    <span class="post-category">
    {% for category in include.object.categories %}
    <a class="p-category" href="{{site.baseurl}}/blog/category/{{category|slugify}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    </span>
    <span class="p-author h-card" hidden>{{ site.author }}</span>
</div>
