.no-scroll {
	overflow: hidden;
	position: fixed;
}

.wrapper {
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 1em 1.5em;
}

.site-avatar {
	display: flex;
	width: 96px;
	height: 96px;
	@include border-radius(50%);
	margin-bottom: 1em;
	overflow: hidden;
	transition: all 300ms ease-in-out;
	
	&:focus, &:hover {
		transform: scale(1.075);
	}
}

.logo {
	color: $font-color;
	margin-bottom: 1em;
	text-decoration: none;
	text-align: center;
}

.site-title {
	font-size: $h2-font-size;
	font-weight: bold;
}

.site-tagline {
	display: block;
}

.site-title,
.site-tagline {
	margin-bottom: 0;
	margin-top: 0;
}

.site-nav {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($link-hover-color, .98);

	.no-scroll & {
		display: flex;
		overflow-y: auto;
	}

	/*@media (min-width: 641px) {
		display: flex;
		justify-content: center;
		flex-direction: row;
		top: initial;
		left: initial;
		position: relative;
		width: auto;
		height: auto;
		background-color: transparent;
	}*/
}

.site-nav-toggle {
	cursor: pointer;
	width: 32px;
	margin: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	transform: rotate(180deg);
	z-index: 3;

	&.open {
		position: fixed;
	}

	/*@media (min-width: 641px) {
		display: none;
	}*/

	span {
		display: block;
		width: 32px;
		height: 5px;
		margin-bottom: 8px;
		border-radius: 10px;
		background-color: $link-color;
		position: relative;
		top: 0;
		transition: all .3s ease-in-out;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&:not(.open):hover span {
		background-color: $link-hover-color;

		&:nth-child(3) {
			width: 30px;
		}

		&:nth-child(2) {
			width: 16px;
		}

		&:nth-child(1) {
			width: 24px;
		}

	}

	&.open span {
		background-color: $white;

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(1) {
			transform: rotate(45deg);
			top: 13px;
		}

		&:nth-child(3) {
			transform: rotate(-45deg);
			top: -13px;
		}

	}
}

.nav-item {
	margin-left: .5em;
	margin-right: .5em;

	.no-scroll & {
		font-size: 1.3rem;
	}

	a {
		@include border-radius($base-radius);
		display: block;
		color: tint($light-background, 70%);
		padding: .25em .5em;
		text-decoration: none;
		text-align: center;
		transition: all 200ms ease-in-out;

		/*@media (min-width: 641px) {
			color: $font-color;
		}*/

		&:focus,
		&:hover {
			background-color: $link-hover-color;
			color: tint($light-background, 70%);
		}
	}
}

.main-content {
	padding: 1em 1.5em;

	a {
		color: $link-color;
		transition: all 200ms ease-in-out;

		&:hover {
			color: $link-hover-color;
			text-decoration: none;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.post-title {
	font-size: $h1-font-size;
}

pre {
	@include border-radius($base-radius);
	background-color: $font-color;
	color: tint($light-background, 70%);
	max-width: 100%;
	padding: 1em 1.5em;
	white-space: pre-wrap;
}

.cp_embed_wrapper>* {
	width: 100%;
}

.pagination {
	display: flex;
	justify-content: space-around;
	margin: 1em 0 0;
}

.main-content .pagination-link {
	@include btn;
}

.site-footer {
	border-top: 1px solid tint($light-background, 70%);
	display: flex;
	flex-direction: column;
	font-size: .875em;
	padding: 1em 1.5em;

	a {
		color: $link-color;
		text-decoration: none;
		transition: all 200ms ease-in-out;

		&:hover {
			color: $link-hover-color;
		}
	}

	.site-footnote {
		align-self: center;
		text-align: center;
	}

	.site-feed {
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.icon--rss {
		@extend %round-icon;
		@include mask('../img/rss-icon.svg', cover, 50%, 50%);
		height: 24px;
		width: 24px;

		&:hover {
			background-color: $rssfeed;
		}
	}
}