.wrapper {
	max-width: 42rem;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
}

.logo {
	color: $font-color;
	margin-bottom: 1rem;
	text-decoration: none;
	text-align: center;
}

.site-title {
	font-size: $h1-font-size;
	font-weight: bold;
}

.site-tagline {
	display: block;
}

.site-title,
.site-tagline {
	margin-bottom: 0;
	margin-top: 0;
}

.site-nav {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	margin-left: .5rem;
	margin-right: .5rem;

	a {
		@include border-radius($base-radius);
		color: $font-color;
		padding: .25rem .5rem;
		text-decoration: none;
		transition: all 200ms ease-in-out;

		&:focus,
		&:hover {
			background-color: $accent-color;
			color: tint($light-background, 70%);
		}
	}
}

.main-content {
	padding: 1rem 1.5rem;

	a {
		color: $accent-color;
		transition: all 200ms ease-in-out;

		&:hover {
			color: $font-color;
			text-decoration: none;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.post-title {
	font-size: $h1-font-size;
}

pre {
	@include border-radius($base-radius);
	background-color: $font-color;
	color: tint($light-background, 70%);
	max-width: 100%;
	padding: 1rem 1.5rem;
	white-space: pre-wrap;
}

.cp_embed_wrapper > * {
	width: 100%;
}
