.no-scroll {
	overflow: hidden;
}

.wrapper {
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
}

.site-header {
	display: flex;
	flex-direction: column;
	padding: 1em 1.5em;
}

.logo {
	color: $font-color;
	margin-bottom: 1em;
	text-decoration: none;
	text-align: center;
}

.site-title {
	font-size: $h1-font-size;
	font-weight: bold;
}

.site-tagline {
	display: block;
}

.site-title,
.site-tagline {
	margin-bottom: 0;
	margin-top: 0;
}

.site-nav {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba($link-hover-color, .98);

	.no-scroll & {
		display: flex;
	}

	@media (min-width: 641px) {
		display: flex;
		justify-content: center;
		flex-direction: row;
		top: initial;
		left: initial;
		position: relative;
		width: auto;
		height: auto;
		background-color: transparent;
	}
}

.site-nav-toggle {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 24px;
    right: 24px;
		z-index: 3;
		cursor: pointer;

		@media (min-width: 641px) {
			display: none;
		}
}

.site-nav-toggle--close { opacity: 0; }
.no-scroll .site-nav-toggle--open { opacity: 0; }
.no-scroll .site-nav-toggle--close { opacity: 1; }

.site-nav-toggle--open {
    background-color: $link-hover-color;
    height: 4px;
		@include border-radius(3px);
    top: 24px;

		&:after {
		    position: relative;
		    display: block;
		    content: "";
		    width: 100%;
		    height: 4px;
				@include border-radius(3px);
		    background-color: $link-hover-color;
		    top: 5px;
		}

		&:before {
		    position: relative;
		    display: block;
		    content: "";
		    width: 100%;
		    height: 4px;
				@include border-radius(3px);
		    background-color: $link-hover-color;
		    top: -9px;
		}
}

.site-nav-toggle--close {
	&:before,
	&:after {
		position: relative;
		display: block;
		content: "";
		width: 100%;
		height: 4px;
		@include border-radius(3px);
		background-color: $white;
		top: 10px;
	}

	&:before {
		transform: rotate(45deg);
		top: 14px;
	}

	&:after {
		transform: rotate(-45deg);
	}
}

.nav-item {
	margin-left: .5em;
	margin-right: .5em;

	a {
		@include border-radius($base-radius);
		display: block;
		color: tint($light-background, 70%);
		padding: .25em .5em;
		text-decoration: none;
		text-align: center;
		transition: all 200ms ease-in-out;

		@media (min-width: 641px) {
			color: $font-color;
		}

		&:focus,
		&:hover {
			background-color: $link-hover-color;
			color: tint($light-background, 70%);
		}
	}
}

.main-content {
	padding: 1em 1.5em;

	a {
		color: $link-color;
		transition: all 200ms ease-in-out;

		&:hover {
			color: $link-hover-color;
			text-decoration: none;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.post-title {
	font-size: $h1-font-size;
}

pre {
	@include border-radius($base-radius);
	background-color: $font-color;
	color: tint($light-background, 70%);
	max-width: 100%;
	padding: 1em 1.5em;
	white-space: pre-wrap;
}

.cp_embed_wrapper > * {
	width: 100%;
}

.pagination{
	display: flex;
	justify-content: space-around;
	margin: 1em 0 0;
}

.main-content .pagination-link {
	display: block;
	padding: 1em;
	text-align: center;
	background-color: $link-color;
	@include border-radius($base-radius);
	color: tint($light-background, 70%);
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: tint($light-background, 70%);
		background-color: $link-hover-color;
	}
}

.site-footer {
	border-top: 1px solid tint($light-background, 70%);
	display: flex;
	flex-direction: column;
	font-size: .875em;
	padding: 1em 1.5em;

	a {
		color: $link-color;
		transition: all 200ms ease-in-out;
		//@include single-transition(all, 200ms, ease-in-out);

		&:hover {
			color: $link-hover-color;
			text-decoration: none;
		}
	}

	.site-footnote {
		align-self: center;
		text-align: center;
	}

	.site-feed {
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.icon--rss {
		@extend %round-icon;
		@include mask('../img/rss-icon.svg', cover, 50%, 50%);
		height: 24px;
		width: 24px;

		&:hover {
			background-color: $rssfeed;
		}
	}
}
