/*
 * Contact page layout
 */
.contact-form {
	label {
		display: block;
	}

	input, textarea {
		border: 1px solid getColor('border');
		@include border-radius($base-radius);
		box-sizing: border-box;
		color: getColor('text');
		padding: 1em;
		width: 100%;

		[data-theme="dark"] & {
			color: getColor('text', 'dark');
			border-color: getColor('border', 'dark');
			background-color: getColor('pre', 'dark');
		}

		@media (prefers-color-scheme: dark) {
			color: getColor('text', 'dark');
			border-color: getColor('border', 'dark');
			background-color: getColor('pre', 'dark');
		}
	}

	[type="submit"] {
		@include btn;
		[data-theme="dark"] & {
			@include btn($bg: getColor('accent', 'dark'), $bg-hover: getColor('accent-dark', 'dark'), $color: getColor('text', 'dark'));
		}

		/* @media (prefers-color-scheme: dark) {
			@include btn($bg: getColor('accent', 'dark'), $bg-hover: getColor('accent-dark', 'dark'), $color: getColor('text', 'dark'));
		} */
	}
}
