/*
 * Contact page layout
 */
.contact-form {
	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		//border-radius: $base-radius;
		@include border-radius($base-radius);
		box-sizing: border-box;
		//@include box-sizing(border-box);
		color: $font-color;
		padding: .8em;
		width: 100%;
	}

	[type="submit"] {
		background-color: $accent-color;
		border: none;
		//border-radius: $base-radius;
		@include border-radius($base-radius);
		color: tint($light-background, 70%);
		font-weight: bold;
		padding: .8em;
		text-decoration: none;
		transition: all 200ms ease-in-out;
		//@include single-transition(all, 200ms, ease-in-out);

		&:focus, &:hover {
			background-color: $font-color;
		}
	}
}
