/*
 * Contact page layout
 */
.contact-form {
	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		@include border-radius($base-radius);
		box-sizing: border-box;
		color: $font-color;
		padding: 1em;
		width: 100%;
	}

	[type="submit"] {
		@include btn;
	}
}
