html[data-theme="dark"] {
    body {
        background-color: getColor('background', 'dark');
        color: getColor('text', 'dark');
    }
    
}
/*
body {
    @media (prefers-color-scheme: dark) {
        background-color: getColor('background', 'dark');
        color: getColor('text', 'dark');
    }
}
*/