/*
 * Home page layout
 */

.home-page .posts-list {
	list-style-type: none;
	padding-left: 0;
}

.post-summary {
	border-bottom: 1px solid tint($light-background, 70%);
	padding-bottom: 1em;

    .post-date {
        color: tint($gray, 10%);
        font-size: .75em;
        margin-left: .5em;
    }

	a {
		color: initial;
		text-decoration: none;

		.post-title {
			transition: all 200ms ease-in-out;
			//@include single-transition(all, 200ms, ease-in-out);
		}

		&:hover .post-title {
			color: $accent-color;
		}
	}
}