/*
 * Newsletter form layout
 */

.newsletter-form {
	padding: 0 0 2em;

	p {
		margin: 1em 0;
	}

	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		@include border-radius($base-radius);
		box-sizing: border-box;
		color: $font-color;
		padding: 1em;
		width: 100%;
	}

	[type="submit"] {
		@include btn;
	}
}
