/*
 * Newsletter form layout
 */

.newsletter-form {
	padding: 0 4em 2em;

	p {
		margin: 1em 0;
	}

	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		@include border-radius($base-radius);
		box-sizing: border-box;
		color: $font-color;
		padding: 1em;
		width: 100%;
	}

	[type="submit"] {
		background-color: $link-color;
		border: none;
		@include border-radius($base-radius);
		color: tint($light-background, 70%);
		font-weight: bold;
		padding: 1em;
		text-decoration: none;
		transition: all 200ms ease-in-out;

		&:focus, &:hover {
			background-color: $link-hover-color;
		}
	}
}
