/*
 * Newsletter form layout
 */

.newsletter-form {
	padding: 0 4rem 2rem;

	p {
		margin: 1rem 0;
	}

	label {
		display: block;
	}

	input, textarea {
		border: 1px solid tint($gray, 10%);
		//border-radius: $base-radius;
		@include border-radius($base-radius);
		box-sizing: border-box;
		//@include box-sizing(border-box);
		color: $font-color;
		padding: .8rem;
		width: 100%;
	}

	[type="submit"] {
		background-color: $accent-color;
		border: none;
		//border-radius: $base-radius;
		@include border-radius($base-radius);
		color: tint($light-background, 70%);
		font-weight: bold;
		padding: .8rem;
		text-decoration: none;
		transition: all 200ms ease-in-out;
		//@include single-transition(all, 200ms, ease-in-out);

		&:focus, &:hover {
			background-color: $font-color;
		}
	}
}
