/*
 * Single post layout
 */

.post-page .post {
	border-bottom: 1px solid tint($light-background, 70%);
	margin-bottom: 1rem;
	padding-bottom: 1rem;

    .post-date {
        color: tint($gray, 10%);
        font-size: .75rem;
        //margin-left: .5rem;
    }
}

.post-page .share {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 1rem;
	margin-top: 2rem;
	padding-left: 0;

	li {
		margin-left: .5rem;
		margin-right: .5rem;
	}
}

.share-icon--facebook {
	@extend %round-icon;
	@include mask('../img/facebook-icon.svg', cover, 50%, 50%);

	&:hover {
		background-color: $facebook;
	}
}
.share-icon--twitter {
	@extend %round-icon;
	@include mask('../img/twitter-icon.svg', cover, 50%, 50%);

	&:hover {
		background-color: $twitter;
	}
}
