/*
 * Single post layout
 */

.post-page .post {
	border-bottom: 1px solid getColor('border');
	margin-bottom: 1em;
	padding-bottom: 1em;

	[data-theme="dark"] & {
		border-bottom-color: getColor('border', 'dark');
	}

	@media (prefers-color-scheme: dark) {
		border-bottom-color: getColor('border', 'dark');
	}

    .post-date {
        color: getColor('text-light');
		font-size: .75em;
		
		[data-theme="dark"] & {
			color: getColor('text-light', 'dark');
		}

		@media (prefers-color-scheme: dark) {
			color: getColor('text-light', 'dark');
		}
    }
}

.post-page .share {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-bottom: 1em;
	margin-top: 2em;
	padding-left: 0;

	li {
		margin-left: .5em;
		margin-right: .5em;
	}
}

.share-icon--facebook {
	@extend %round-icon;
	@include mask('../img/facebook-icon.svg', cover, 50%, 50%);

	&:hover {
		background-color: $facebook;
	}
}
.share-icon--twitter {
	@extend %round-icon;
	@include mask('../img/twitter-icon.svg', cover, 50%, 50%);

	&:hover {
		background-color: $twitter;
	}
}
