/*
 * Thumbnails
 */

.main-content .thumbnail {
	//border-radius: $base-radius;
	@include border-radius($base-radius);
	margin: 0 -1.5rem;
	margin-bottom: 1.5rem;
	width: calc(100% + 3rem);
	max-height: 200px;
	overflow: hidden;

	@media only screen and (min-width: 710px) {
		max-height: 510px;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
	}


}