---
layout: default
body_class: "home-page"
---
<ul class="posts-list">
  {% for post in paginator.posts %}
  <li data-animate="slideup"
    class="post-summary h-entry {% if post.format and post.format == 'link' and post.link != '' %}post-format--link{% endif %}">

    {% unless post.format and post.format == "status" %}
      {% if post.format and post.format == "link" and post.link != "" %}
        <a href="{{ post.url | absolute_url }}" class="u-url post-link--permalink">{{ post.url | absolute_url }}</a>
      {% endif %}
      <h2 class="post-title p-name">
        <a href="{% if post.format and post.format == 'link' and post.link != '' %}{{ post.link }}{% else %}{{ post.url | absolute_url }}{% endif %}"
          {% if post.format and post.format == 'link' and post.link != '' %}target="_blank"{% endif %}>{{ post.title }}</a>
        <a href="{{ post.url | absolute_url }}" hidden="hidden" class="u-url"></a>
      </h2>

      {% include post-meta.html object=post %}
    {% endunless %}
    {% if post.image and post.image != "" and post.format != "status" %}
    <a href="{{ post.url | absolute_url }}">
      <figure class="thumbnail">
        <img src="{{ site.placeholder }}" data-echo="{{ post.image }}" alt="{{ post.title }}"
          class="{{ post.image_class | default: '' }}" />
      </figure>
    </a>
    {% endif %}

    {% if post.format and post.format =="link" and post.link != "" %}
      <p class="e-content">{{ post.content }}</p>
    {% elsif post.content contains "<!--more-->" %}
      <p class="e-summary">{{ post.excerpt  | split : "<!--more-->" | first }}</p>
      <a class="post-readmore-link" href="{{ post.url | relative_url }}">Lire la suite</a>
    {% elsif post.format and post.format == "status" %}
      <p class="e-content">{{ post.content }}</p>
    {% else %}
      <p class="e-content">{{ post.content }}</p>
    {% endif %}

    {% if post.format and post.format == "status" %}
      {% include post-meta.html object=post %}
    {% endif %}
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<nav class="pagination">
  <!-- If we have a previous page, we show a link to it -->
  {% if paginator.previous_page %}
  <a class="pagination-link pagination-link--previous" href="{{ paginator.previous_page_path }}">Articles plus
    récents</a>
  {% endif %}

  <!-- If we have a next page, we show a link to it -->
  {% if paginator.next_page %}
  <a class="pagination-link pagination-link--next" href="{{ paginator.next_page_path }}">Articles plus anciens</a>
  {% endif %}
</nav>