---
layout: default
body_class: "post-page"
comments: true
sitemap:
    - changefreq: "weekly"
    - priority: "1"
---
<div class="h-entry post {% if page.format and page.format == "link" and page.link != "" %}post-format--link{% endif %}">

    {% unless page.format and page.format == "status" %}
        {% if page.format and page.format == "link" and page.link != "" %}
            <h1 class="post-title">
                <a href="{{ page.link }}" class="u-bookmark-of" >
                    <span class="p-name">{{ page.title }}</span>
                </a>
            </h1>
        {% else %}
            <h1 class="post-title p-name">{{ page.title }}</h1>
            <span class="u-url" hidden>{{ page.url | absolute_url }}</span>
        {% endif %}
        {% include post-meta.html object=page %}
    {% endunless %}

    {% if page.image and page.image != "" and post.format != "status" %}
    <figure class="thumbnail">
        <img src="{{ site.placeholder }}" data-echo="{{ page.image }}" alt="{{ page.title }}" class="{{ page.image_class | default: '' }}" />
    </figure>
    {% endif %}

    <div class="e-content">{{ content }}</div>

    {% if page.format and page.format == 'status' %}
        {% include post-meta.html object=page %}
    {% endif %}
</div>

<ul class="share">
        <li><a class="share-icon--twitter" href="https://twitter.com/intent/tweet?text={{ page.title | strip_html }}&url={{ page.url | absolute_url }}&via={{ site.twitter_username }}" target="_blank" title="Partager “{{ page.title | strip_html }}” sur Twitter">Twitter</a></li>
        <li><a class="share-icon--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" title="Partager “{{ page.title | strip_html }}” sur Facebook">Facebook</a></li>
</ul>

{% webmentions page.url %}
{% webmentions_js %}
